.card{
  width: 95%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.spinner{
  padding: 300px;
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
