<mat-card class="card">
  <mat-card>
    <mat-card-content> Lista Pacientes</mat-card-content>
  </mat-card>

  <div *ngIf="pacientes$ | async as pacientes; else spinner">
    <table mat-table [dataSource]="pacientes" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id.</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.cpf }}</td>
      </ng-container>

      <ng-container matColumnDef="rg">
        <th mat-header-cell *matHeaderCellDef>RG</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.rg }}</td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.telefone }}</td>
      </ng-container>

      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.endereco }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #spinner>
    <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  </ng-template>

</mat-card>
